* {
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

/* MENU */

.header {
  width: 100%;
  height: 30vh;
}

.first-head {
  background-color: #3f7354;
  width: 70%;
}

.second-head {
  width: 30%;
  background: #17565e;
}

/* SECTIONS */

.section {
  height: 75vh;
  width: 100%;
}

.primary-left {
  background: #ffffff;
  width: 70%;
}

.primary-right {
  width: 30%;
  background: #e5ede8;
}

.secondary-left {
  background: #bed7c8;
  width: 70%;
}

.secondary-right {
  background: #b7d1c2;
  width: 30%;
}

.book {
  background: #46625e;
  width: 100%;
  height: 25vh;
}

.footer {
  background: #134347;
  height: 25vh;
  width: 100%;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 1132px) {
  .header.flex {
    flex-direction: column;
  }
  .first-head {
    height: 25vh;
  }
  .second-head {
    height: 15vh;
  }

  .first-head,
  .second-head,
  .primary-left,
  .secondary-left {
    width: 100%;
  }

  .primary-right {
    display: none;
  }
  .secondary-right {
    display: none;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .first {
    background: #e5ede8;
    height: 20vh;
  }
  .second {
    background: #b7d1c2;
    height: 20vh;
  }
}
